/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  text-align: center;
}

main {
  background-color: #f00;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1em;
  width: 30em;
}

.settings-item {
  padding-top: 10px;
}

.game-grid {
  display: grid;
}

.square {
  background: #fff;
  border: solid 1px #000;
  height: 20px;
  width: 100%;
}

.range-bubble {
  background: blue;
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
